*.log
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store

antm.config.js
package-lock.json


src/actions/rapper/*
!src/actions/rapper/commonTypes
!src/actions/rapper/types
src/actions/swagger/*
!src/actions/swagger/utils
node_modules
coverage
dist
build
weapp
alipay
kwai
swan
tt
qq
h5
