*.log
*.swp

.github
.cache
.temp
.idea
.swc
.rn_temp
.DS_Store

antm.config.js

src/actions/rapper/*
!src/actions/rapper/commonTypes
!src/actions/rapper/types
src/actions/swagger/*
!src/actions/swagger/utils
node_modules
coverage
api-ui
dist
build
weapp
alipay
kwai
swan
tt
qq
h5
