*.log
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store

antm.config.js
package-lock.json


src/actions/*
!src/actions/types
!src/actions/templates
!src/actions/constants
node_modules
coverage
dist
build
weapp
alipay
kwai
swan
tt
qq
h5
