@import '@antmjs/vantui/es/style/var.less';

// 这里可以重写主题
@black: #1a1a1a;
@white: #f7f7f7;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ededed;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@red: #ee0a24;
@blue: #1989fa;
@orange: #ff976a;
@orange-dark: #ed6a0c;
@orange-light: #fffbe8;
@green: #07c160;

@pageBack: @gray-3;
@navBack: rgba(237, 237, 237, 0.9);
@backDropFilter: blur(10px);
