.components-fullScreen-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  .button {
    width: 260px;
  }
}
