.navigation_minibar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: @black;
  width: 100%;
  box-sizing: border-box;
  z-index: 800;
  background: @navBack;
  backdrop-filter: @backDropFilter;
  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &_content {
    width: 100%;
    font-size: 28px;
    /* stylelint-disable-next-line font-weight-notation */
    font-weight: 500;
    text-align: center;
  }
}
.navigation_minibar_left {
  z-index: 800;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  &_back {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .van-icon {
      /* prettier-ignore */
      font-size: 20PX;
      font-weight: bold;
      color: #ffffff;
    }
  }
  &_home {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .van-icon {
      /* prettier-ignore */
      font-size: 20PX;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
