/* stylelint-disable selector-type-no-unknown, selector-max-type */
@import '@antmjs/vantui/es/style/base.less';
// @import './iconfont.less';
page,
body {
  background: @pageBack;
  font-size: 28px;
}
view {
  font-size: 28px;
  box-sizing: border-box;
}

// .antmjs-vantui-unite {
//   height: 100vh;
//   overflow-y: scroll;
// }
::-webkit-scrollbar {
  display: none;
}

// 可以用的类
// .van-hairline,
// .van-hairline--top,
// .van-hairline--left,
// .van-hairline--right,
// .van-hairline--bottom,
// .van-hairline--top-bottom,
// .van-hairline--surround
// .van-ellipsis
// .van-multi-ellipsis--l2
// .van-multi-ellipsis--l3
