/* stylelint-disable selector-type-no-unknown, selector-max-type */

/* 如果要用iconfont 请先更新package.json文件内scripts脚本下iconfont的input-path后执行"yarn iconfont" 会自动生成iconfont.less文件，再把下方的注释关闭 */

/* @import './iconfont.less'; */
page,
body {
  background-color: #fafafc;
  font-size: 28px;
}
view {
  font-size: 28px;
}
